{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="margin:50px;">
        <div class="row" >


        <div class="card-columns">
            {% for item in books %}
            {% if current_user.is_authenticated and item.id in a%}
            <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../static/img/{{item.name_foto}}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{avtors[item.id_avt - 1].name}} {{avtors[item.id_avt - 1].surname}}</p>

                    </div>
            <div class="card-footer">
                <a href="/opinions/{{ item.id }}" class="btn btn-primary" title="Смотреть отзывы">
                <i class="far fa-eye"> Отзывы</i>
            </a>
                <a href="/edit_opinion/{{ item.id }}" class="btn btn-success" title="Изменить отзыв">
                    <i class="fas fa-pen"> Отзыв</i>

            </a>

            </div>
            </div>
        {%endif%}
            {% endfor %}
          </div>
        </div>
    </div>

{% endblock %}